*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 600px;
    margin: 100px auto;
  }
  .single-form {
    margin-bottom: 25px;
  }
  .single-form label {
    display: block;
    font-size: 22px;
  }
  .single-form input, .single-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    margin-top: 7px;
  }
  .single-form input[type="submit"] {
    background-color: #ff7720;
    border: 0;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  .single-form span {
	color: red;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}